  <div class="good-space"></div>

  <div class="contents">
     <!--  <div class="shikaku"></div> -->
      <font size="5">安全な学習環境</font>
      <div class="under-bar"></div>
      <div class="small-space"></div>

  <div class="about">
    <img src="/assets/about1.png" class="about1">
  </div>

  <div class="good-space"></div>



  <!--  <div class="shikaku"></div> -->
  <font size="5">充実した学習サポート</font>
  <div class="under-bar"></div>
  <div class="top-space"></div>

  <div class="about">
    <img src="/assets/about2.png" class="about2">
  </div>

  <div class="about">
    <img src="/assets/about3.png" class="about3">
  </div>

  <div class="about">
    <img src="/assets/about4.png" class="about2">
  </div>

    <div class="good-space">
    </div>
  </div>