  <div class="good-space"></div>

  <div class="contents">
    <!--   <div class="shikaku"></div> -->
      <font size="5">入会までの流れ</font>
      <div class="under-bar"></div>
      <div class="top-space"></div>

  <div class="flows">
    <img src="/assets/flow1.jpg" class="flow-photo">
  </div>
  <div class="flows">
    <img src="/assets/flow2.jpg" class="flow-photo">
  </div>
  <div class="flows">
    <img src="/assets/flow3.jpg" class="flow-photo">
  </div>


  電話：047-703-7083<br>
  メール：kumon-matsudost-east@ozzio.jp<br>
  WEBサイト：
  <a href="https://www.kumon.ne.jp/enter/search/classroom/1557320092/index.html?lid=hist_000">こちら</a><br>

  <div class="good-space"></div>



<!--   <div class="shikaku"></div> -->
  <font size="5">会費について</font>
  <div class="under-bar"></div>
  <div class="top-space"></div>
  <div class="flows">
    <img src="/assets/flow4.jpg" class="flow-photo">
  </div>
  <div class="flows">
    <img src="/assets/flow5.jpg" class="flow-photo">
  </div>





    <div class="good-space">
    </div>
  </div>