  <div class="photo">
    <img src="/assets/studing_children.jpg" alt="集合写真" class="top-image">
  </div>

<div class="good-space">
</div>

  <div class="contents">

    <div class="right-contents">
      <img src="/assets/bosyuu.png" alt="入会募集" class="bosyuu-image">
      <div class="adress">
        <b><font size="4">お問合せ電話番号</font><br></b>
        <img src="/assets/tel.png" class="tel">
      教室 047-703-7083<br>
      携帯 080-1187-3626
      </div>
      <!-- <div class="adress">
        <b><font size="4">住所</font><br></b>
        〒271-0092<br>
        千葉県松戸市松戸１２９２－１<br>
        シティハイツ松戸２０６号
      </div> -->
      <a href="http://www.kumon.ne.jp/"><div class="link-kumon">KUMON　リンク</div></a>
      <a href="https://www.kumon.ne.jp/enter/search/classroom/1557320092/index.html"><div class="link-matudo">KUMON教室ページ　リンク</div></a>
    </div>

    <div class="thin-space">
    </div>

    <div class="kamoku">
      <div class="shikaku"></div>
      <div class="text-box">
      <font size="5">学べる学科・日時</font>
      </div>
      <div class="under-bar"></div>
      <div class="small-space"></div>
      ■対象：2歳から社会人まで
      <div class="small-space"></div>
      ■学べる学科：数・英・国
      <div class="small-space"></div>
      ■学べる日時：月・火・木・金 （うち2回）<br>
      　　　　　　　14:00〜20:00の間いつでも入室可<br>
      　　　　　　　同月内振替制度有り<br>
      　　　　　　（詳しくは教室へお問い合わせ下さい）<br>

      <div class="good-space">
      </div>
      <div class="shikaku"></div>
      <font size="5">指導者からのメッセージ</font>
      <div class="under-bar"></div>
      <div class="small-space"></div>
      こんにちは。<br>
      KUMON松戸駅東口教室の根岸優樹（ねぎしゆうき）です。<br>
      公文式は個人別のちょうどの学習で子どもの能力の可能性を追求できます。<br>
      子どもたちが伸びることは嬉しく、もっと伸ばせるのではないかという好奇心と日々の感動が私の仕事への原動力となります。<br>
      ひとり一人を公文式学習を通して楽しみながらも甘やかさずに大切に育て、思考力を身に付けて自学自習していけるお子さまに育っていって欲しいと思っています。<br>
      学年を超えた学習に進むにつれて他の面での発達にも驚くことが多く能力開発の大切さを実感しています。<br>
      新しい課題に自学自習で取り組んでいる素晴らしいお子さま方の学習の様子を是非見に来てください。<br>
      見学の際は事前にご連絡の上お越しください。<br>
      お待ちしております。
<div class="good-space">
</div>
    </div>
  </div>

