  <div class="photo">
    <img src="/assets/art-limited.jpg" alt="会員限定ページ" class="top-image">
  </div>

<div class="good-space">
</div>

  <div class="contents">
    <!--   <div class="shikaku"></div> -->
      <font size="5">会員の皆さまへ</font>
      <div class="under-bar"></div>
      <div class="small-space"></div>
     いつも公文式へのご理解と温かいご協力に、心から感謝致しております。<br>
      この会員ページでは「日頃の教室風景」や「会員さま向けのメッセージ」などを紹介していきたいと思っております。

      <div class="good-space">
      </div>
    <!--   <div class="shikaku"></div> -->
      <font size="5">コンテンツ</font>
      <div class="under-bar"></div>
      <div class="small-space"></div>
      以下をクリックすると、イベントの様子を、写真でご覧いただけます。<br>
      写真は、ご自由にダウンロードしてください。

    <ul class="limited_event">
      <a href="/limited/view">
      <li class="event">
      2016年12月22日<br>
      松戸駅東口教室クリスマス会
        <div class="event_photo">
        <img src="/assets/santa.jpg" alt="クリスマス会" class="santa">
        </div>
      </li>
      </a>
    </ul>
    <div class="good-space">
    </div>
  </div>

