  <div class="contents">
    <div class="good-space">
    </div>
    <!--   <div class="shikaku"></div> -->
      <font size="5">実施概要</font>
      <div class="under-bar"></div>
      <div class="small-space"></div>
      2016年12月22日<br>
      恒例の松戸駅東口教室クリスマス会を開催しました。<br>
      <div class="small-space"></div>
      幼児の部では、<br>
      2グループに分かれて学習の様子を参観する
      教材解法タイムを設けました。<br>
      みんないつもよりかっこよく立派に見えました^_^<br>
      ビンゴゲームでは数字を見つけるのが大変だったけど楽しかったですね！<br>
      <div class="small-space"></div>
      小学生の部では、<br>
      当教室のスタッフによる紙芝居と東京大学奇術愛好会の柳本さんによるマジックショーがありました。<br>
      次々に繰り広げられるマジックに大歓声があがっていました。

      <div class="good-space">
      </div>
    <!--   <div class="shikaku"></div> -->
      <font size="5">フォトアルバム</font>
      <div class="under-bar"></div>
      <div class="small-space"></div>
      <img src="/assets/01_01.JPG"  class="views">
      <img src="/assets/01_02.JPG"  class="views">
      <img src="/assets/01_03.JPG"  class="views">
      <img src="/assets/01_04.JPG"  class="views">
      <img src="/assets/01_05.JPG"  class="views">
      <img src="/assets/01_06.JPG"  class="views">
      <img src="/assets/01_07.JPG"  class="views">
      <img src="/assets/01_08.JPG"  class="views">
      <img src="/assets/01_09.JPG"  class="views">
      <img src="/assets/01_10.JPG"  class="views">
      <img src="/assets/01_11.JPG"  class="views">
      <img src="/assets/01_12.JPG"  class="views">
      <img src="/assets/01_13.JPG"  class="views">
      <img src="/assets/01_14.JPG"  class="views">
      <img src="/assets/01_15.JPG"  class="views">
      <img src="/assets/01_16.JPG"  class="views">
      <img src="/assets/01_17.JPG"  class="views">
      <img src="/assets/01_18.JPG"  class="views">
      <img src="/assets/01_19.JPG"  class="views">
      <img src="/assets/01_20.JPG"  class="views">
      <img src="/assets/01_21.JPG"  class="views">
      <img src="/assets/01_22.JPG"  class="views">
      <img src="/assets/01_23.JPG"  class="views">
      <img src="/assets/01_24.JPG"  class="views">
      <img src="/assets/01_25.JPG"  class="views">
      <img src="/assets/01_26.JPG"  class="views">
      <img src="/assets/01_27.JPG"  class="views">
      <img src="/assets/01_28.JPG"  class="views">
      <img src="/assets/01_29.JPG"  class="views">
      <img src="/assets/01_30.JPG"  class="views">
      <img src="/assets/01_31.JPG"  class="views">
      <img src="/assets/01_32.JPG"  class="views">
      <img src="/assets/01_33.JPG"  class="views">
      <img src="/assets/01_34.JPG"  class="views">
      <img src="/assets/01_35.JPG"  class="views">
      <img src="/assets/01_36.JPG"  class="views">
      <img src="/assets/01_37.JPG"  class="views">
      <img src="/assets/01_38.JPG"  class="views">
      <img src="/assets/01_39.JPG"  class="views">
      <img src="/assets/01_40.JPG"  class="views">
      <img src="/assets/01_41.JPG"  class="views">
      <img src="/assets/01_42.JPG"  class="views">
      <img src="/assets/01_43.JPG"  class="views">
      <img src="/assets/01_44.JPG"  class="views">
      <img src="/assets/01_45.JPG"  class="views">
      <img src="/assets/01_46.JPG"  class="views">
      <img src="/assets/01_47.JPG"  class="views">
      <img src="/assets/01_48.JPG"  class="views">
      <img src="/assets/01_49.JPG"  class="views">
      <img src="/assets/01_50.JPG"  class="views">
      <img src="/assets/01_51.JPG"  class="views">
      <img src="/assets/01_52.JPG"  class="views">
      <img src="/assets/01_53.JPG"  class="views">
      <img src="/assets/01_54.JPG"  class="views">
      <img src="/assets/01_55.JPG"  class="views">
      <img src="/assets/01_56.JPG"  class="views">
      <img src="/assets/01_57.JPG"  class="views">
      <img src="/assets/01_58.JPG"  class="views">
      <img src="/assets/01_59.JPG"  class="views">
      <img src="/assets/01_60.JPG"  class="views">
      <img src="/assets/01_61.JPG"  class="views">

  </div>